body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed';
    background-color: #002A2A;
    color: #BCD637;
}

.page_content{
    margin-left: 8%;
    margin-right: 8%;
}

#bannerimage {
	width: 100%;
	background-image: url(http://solace.ist.rit.edu/~nlg9323/240/groupProj/assets/img/python_pic_3.jpg);
	height: 20em;
	background-position: left;
	background-size: cover;

}

.animation-image {
    width: 100px;
    height: auto;

    position: relative;
    animation: snake 20s infinite;  
}

@keyframes snake {
    0% {
        left: 0px;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 0px;
    }
}

.animation-header {
    position: relative;
    margin-left: -1em;
    animation: header 5s 1;
    left: 50%;
}

@keyframes header {
    from {left: 0;}
    to {left: 50%;}
}

/* Footer */
.no_foot{
    min-height: calc(100vh - 70px); /*This sets up the sticky footer */
    
}

/* footer{
    background-color: #0A5C66;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: .5em;
    margin-top: .25em;

    height: 50px;
} */

footer{
    background-color: #0A5C66;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 0.5em;
    margin-top: 0.25em;
    height: 50px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}


/* Nav menu */
.nav_pic{width: 6em;}


/* Desktop View */
header a {
    display: block;
    color: #003718;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

nav ul li {
    background-color: #0A5C66;
    padding: 0.5em 1em 0.5em 1em;

    border-radius: 2em;

}

nav ul li:hover{
    background-color: #BCD637;
}


header{
    display: flex; /* Puts elements side by side */
    gap: 5em;
    justify-content: center; 
}

nav{
    display: inline-flex; /* This is to allow the ul to align-items vertically in the center */
}

nav ul{
    display: inline-flex; /* This is to organize nav items in a row */
    list-style: none;
    align-items: center;

    padding: 0;
    gap: 2em;
}

nav a{
    text-decoration: none; /* removes underline */
}

/* Media Queries */
@media only screen and (min-width: 1160px){

    #myTopnav{ /* This hides the simple menu until the screen is smaller than 1160px */
        display: none;
    }
    }
    
    @media only screen and (max-width: 1160px){
    
        header{ /* This hides the complex menu when the screen is smaller than 1160px */
            display: none;
        }
    }

/* Mobile View - W3 CSS */
.topnav {
    overflow: hidden;
    background-color: #0A5C66;
}
  
.topnav a {
    float: left;
    display: block;
    color: #003718;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
  
.topnav a:hover {
    background-color: #BCD637;
    color: black;
}

.topnav .icon {
    display: none;
}
  
@media screen and (max-width: 1160px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 1160px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

/* Feedback */
.form_elmnt{
    margin: 10px;
}

.asterisk{color: red;}


/* Blog */
.container{
    margin-left: 8%;
    margin-right: 8%;
}